.body {
  background: #A6CFD5;
  padding: 10px;

  
}
.navigation{
    background:#4BA3C3;
    padding: 16px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
   
}
.navigation__link{
    color: #D62839;
    display: inline-block;
    margin-left: 10px;
}
.navigation__link--homepage{
    background: khaki;
    color: rgb(2, 0, 130);
}
.main{
    max-width: 1000px;
    margin: auto;
}
.resume{
    background: lightcoral;
    position: relative;
}
.resume__header{
    background: lightseagreen;
    box-sizing: border-box;
}
.resume__image{
    border-radius: 50%;
    padding: 4px;
}
.resume__paragraph{
    padding: 4px;
   
}